@charset "UTF-8";

.tenant-domain-project-components-image {
    width: 100%;
    text-align: center;

    &_frame {
        display: inline-block;
    }

    &_picture {
        width: 100%;
    }
}
