@charset "UTF-8";

.composum-prototype-pages-simple-element-image {
    width: 100%;
    text-align: center;

    &_frame {
        display: inline-block;
    }

    &_picture {
        width: 100%;
    }
}
